[Unit]
Description=BtcOffersApi
After=network.target

[Service]
User=flanauser
WorkingDirectory=/opt/btcoffersapi/btcoffersapi
ExecStart=/opt/btcoffersapi/.venv/bin/gunicorn -c /opt/btcoffersapi/gunicorn.conf.py main:app

[Install]
WantedBy=multi-user.target
